.message {
	background-color: white;
}

.subject-header {
	padding: 20px 0 8px 72px;
	font-size: 22px;
	color: black;
}

.from-header {
	font-size: 14px;
	color: black;
	padding-left: 72px;
	padding-top: 20px;
}

.body {
	padding-left: 72px;
	padding-top: 20px;
	height: 100vh;
	background-color: white;
}
